深度学习/GAN/code3[[:space:]]Advanced-Deep-Learning-with-Keras-master.zip filter=lfs diff=lfs merge=lfs -text
常用工具教程/【绿色资源网】Qt5开发及实例.pdf filter=lfs diff=lfs merge=lfs -text
三维重建/Multi-Level[[:space:]]Pixel-Aligned[[:space:]]Implicit[[:space:]]Function[[:space:]]for[[:space:]]High-Resolution/视频中文/demo使用讲解视频.MP4 filter=lfs diff=lfs merge=lfs -text
三维重建/PointCloudBased/NormalGAN:[[:space:]]Learning[[:space:]]Detailed[[:space:]]3D[[:space:]]Human[[:space:]]from[[:space:]]a[[:space:]]Single[[:space:]]RGB-D[[:space:]]Image/NormalGAN.mp4 filter=lfs diff=lfs merge=lfs -text
三维重建/implicit[[:space:]]function[[:space:]]based/Multi-Level[[:space:]]Pixel-Aligned[[:space:]]Implicit[[:space:]]Function[[:space:]]for[[:space:]]High-Resolution/视频中文/demo使用讲解视频.MP4 filter=lfs diff=lfs merge=lfs -text
三维重建/implicit[[:space:]]function[[:space:]]based/PhySG[[:space:]][[:space:]]Inverse[[:space:]]Rendering[[:space:]]with[[:space:]]Spherical[[:space:]]Gaussians[[:space:]]for[[:space:]]Physics-based[[:space:]]Relighting[[:space:]]and[[:space:]]Material[[:space:]]Editing/real-world_results.mp4 filter=lfs diff=lfs merge=lfs -text
